/*
Theme Name: teacozy2
*/

* {
    opacity: 0.9;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    /* position: relative;
    height: 100%; */
    padding: 0;
    margin: 0;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid seashell;
    z-index: 2;
    background: black;
    display: flex;
    justify-content: space-between;
}

.logo {
    right: 10px;
    height: 50px;
    
    
}

nav  {
    width: 45%;
}

nav li {
	display: inline-block;
    width: 25%;
}

nav a {
      color: seashell;
}

nav a:hover {
	color: #DBE9EE;
  }

/* .background-img {
    position: relative;
    top: 69px;
    height: 700px;
} */

/* Main */

.background {
    position: relative;
    margin-top: 1.5em;
    height: auto; 
    width: 100%;     
} 

.background img {
    width: 100%;
}

.mission {
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: black;

}

/* Month Gallery */

.middle-title {
    margin-top: 2em;
}

.img-container {
    margin-top: 2em;
    margin-right: 80px;
    margin-left: 80px;
}   

.img-container img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}
.month-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Locations  */

.locations {
    position: relative;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
 }

 .locations img {
     width: 100%;
 }

.locations h2 {
    margin-top: 4rem;
    justify-content: center;
    position: absolute;
}

.box {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 200px;
    flex-wrap: wrap;
    width: 100%;
}

.locations .location-box {
    width: 300px;
    margin: 20px;
    background-color: black;
}

/* Bottom */

.bottom {
    position: relative; 
    top: 100px;
    width: 100%;
    margin-bottom: 100px;
}

/* Footer */

footer {
    margin-top: 40px;
    bottom: 0; 
    text-align: left;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .img-container img {
        width: 100%;
         

}

